target
.idea
.out
.out/*.*
.settings
.settings/*.*
.classpath
.classpath/*.*
*.log.*
*.log
*.component
*.iml
.project
/.project
rebel.xml
*~
.DS_Store
classes/*.*
.copyarea.db
rebel-remote.xml
persistence.xml
hibernate.cfg.xml
*.jpage

